.proucts_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: 1450px;
  margin: 100px auto 100px auto;
  gap: 60px;
  justify-items: center;
}

.proucts_container section {
  margin: 0 auto;
}
